body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.display {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  font-size: 24px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  flex: 1 0 21%; /* Grows, doesn't shrink, basis 21% */
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

#clear {
  color: black;
  border-radius: 3px;
}
button:hover {
  background-color: #e7e7e7;
  transform: translateZ(10px) scale(1.1); /* Brings the button forward and slightly enlarges it */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
